@font-face {
    font-family: Fjalla_one_regular;
    src: url("../../../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
  }
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #1f4886;
    background-image: url("../../../assets/images/illustrationsvg.svg");
  }
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .wrap-login100 {
    width: 410px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .login-form {
    font-size: 13px;
  }
  .login-form div input {
    border-radius: 0;
  }
  .login-form div label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  .login-form .form-check .forgot-password a {
    float: right;
    text-decoration: none;
    color: #9b9c9e;
  }
  .wrap-login100 img {
    margin: 0 auto 25px;
  }
  .limiter .login-container h2 {
    font-family: Fjalla_one_regular;
    font-weight: bold;
    line-height: 40px;
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
  }
  .limiter .login-container h2:after {
    content: "";
    border-bottom: 3px solid #4199d8;
    width: 26px;
    height: 3px;
    position: absolute;
    left: calc(50% - 13px);
    bottom: 0;
  }
  button {
    display: block;
    width: 100%;
    margin: 30px 0 0;
    font-size: 16px !important;
    line-height: 1.5 !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 2px;
    border: 1px solid #4199d8;
    background-color: #4199d8;
    text-transform: uppercase;
    float: none;
    display: block;
    font-weight: bold;
    padding: .375rem .75rem;
  }
  .error-message{
    margin: 0px !important;
      border: 0px;
      padding: 0 20px;
      text-align: center;
      color: #ed3324;
      padding-top: 10px;
      font-weight: 600;
      border-radius: 0px;
      background-color: transparent;
  }
  .limiter form .forgot-password a:hover {
    color: #4199D8;
  }
  .toggle-password.icon-show:before {
    background-image: url('../../../assets/images/icon-show.svg');
  }
  .toggle-password.icon-hide:before {
    content: "";
    top: -45px;
    background-image: url('../../../assets/images/icon-hide.svg');
  }
  .toggle-password.icon-show:before, .toggle-password.icon-hide:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    right: 30px;
    top: 12px;
  }
  .forgot-padding{
    padding: 26px 24px 26px;
  }
  .login-container p{
    color: #5D5D5D;
    font-size: 14px;
  }
  .backtologin{
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #5D5D5D;
    clear: both;
  }