<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 forgot-padding">
        <div class="container login">
          <div class="text-center pb-25">
            <img src="../../../../assets/images/logo_blue.png" alt="" />
          </div>
          <div class="text-center login-container">
            <h2>FORGOT PASSWORD?</h2>
            <p class="mt-4">We will send you a link to reset your password</p>
          </div>
          <div class="text-center">
             <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
          </div>
          <div class="row mt-4">
            <div class="col-md-12 col-md-offset-3">
              <form [formGroup]="formGroup" class="login-form" (validSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="text" class="form-control" placeholder="Email" formControlName="Email">
                </div>
               <button class="btn btn-primary w-100" type="submit">Reset Password</button>
               <div class="forgot-password text-center mt-4">
               <p class="backtologin">Back to<a href="#" [routerLink]="['/login']"> Log in
                </a></p>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>