@font-face {
  font-family: Open_sans;
  src: url('../../../../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf');
}

.bg-scythe {
  background-image: url("../../../../assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 60%;
}

.jumbotron-app-bg {
  background-color: #fff;
}

.m-10 {
  margin: 10px;
}

.card {
  box-shadow: 0 7px 22px 0 rgba(47, 51, 57, 0.3);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.side-nav-style {
  border-left: 3px solid #000;
  padding-left: 10px;
}

.cta-heading {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 10px;
  font-family: open_sans;
}

.text-muted {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 1.33;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.display-title {
  font-size: 40px;
  line-height: 58px;
  text-transform: uppercase;
  font-weight: normal;
}

.lead {
  font-size: 1.125em;
  line-height: 18px;
  opacity: 0.8;
  margin-top: 20px;
}

h2 a {
  color: inherit;
  font-weight: normal;
}

.cta-link {
  color: #333333;
  font-weight: bold;
}

.cta-text {
  color: #97a3ae;
  font-size: 12px;
}
.align-middle{
  line-height: 30px;
}
.save-changes-button{
  display: inline-block;
    position: fixed;
    right: 40px;
    top: 100px;
    margin: 0px;
    width: 100px;
    height: 100px;
    background: #537cfd;
    opacity: 0.5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.save-changes-button:hover{
  display: inline-block;
    position: fixed;
    right: 40px;
    top: 100px;
    margin: 0px;
    width: 100px;
    height: 100px;
    background: #537cfd;
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);
}

/*******************************************Box Border Animation*************************************************/
.draw {
  padding: 10px;
  outline:none;
  border: none;
  box-shadow: none;
  background-image: 
  linear-gradient(#69ca62), 
  linear-gradient(#69ca62), 
  linear-gradient(#69ca62), 
  linear-gradient(#69ca62), 
  
  linear-gradient(#aee3aa), 
  linear-gradient(#aee3aa), 
  linear-gradient(#aee3aa), 
  linear-gradient(#aee3aa);
  
  background-position: 0 0, 0 0, 0 100%, 0 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 0% 2px, 0% 2px, 2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  background-color:transparent;
  background-repeat:no-repeat;
  transition:0.2s linear;
}

.draw {
  background-position: 0 100%, 0 0, 0 100%, 100% 0, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 100% 2px, 0% 2px,2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  animation: animate 1.4s linear infinite 0.2s;
}

@keyframes animate {
  0% {
  background-position: 0 100%, 0 0, 0 100%, 100% 0, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 100% 2px, 0% 2px,2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  }
  40% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 0, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 100% 2px, 0% 2px,2px 100%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  }
  60% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 0% 2px, 100% 2px,2px 100%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  }
  70% {
  background-position: 0 100%, 100% 0, 0% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 100%, 0% 2px, 100% 2px,2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  }
  80% {
  background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 100%, 0% 2px, 0% 2px,2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;
  }
  100% {
  background-position: 0% 0%, 0 0, 0 100%, 100% 100%, 
                       0 0, 0 0, 0 100%, 100% 0;
  background-size: 2px 0%, 100% 2px, 0% 2px,2px 0%,  
                   2px 100%, 100% 2px, 100% 2px,2px 100%;  
  }
}