<app-header></app-header>
<div class="jumbotron bg-scythe">
  <div class="container text-center mt-5">
    <h1 *ngIf="isEditMode" class="display-title white-text mt-5 draw" [froalaEditor]="getEditorByName('heroHeader')"
             [(froalaModel)]="froalaElements.heroHeader">
        </h1>
    <h1 *ngIf="!isEditMode" class="display-title white-text mt-5">{{'home.appTitle' | translate}}</h1>
    <p *ngIf="isEditMode" class="lead white-text draw" [froalaEditor]="getEditorByName('heroSubtext')"
             [(froalaModel)]="froalaElements.heroSubtext">
        </p>
    <p *ngIf="!isEditMode" class="lead white-text">{{'home.appDescription' | translate}}</p>
    <div class="row mt-5">
      <div class="card-deck mx-auto">
        <div class="card" *ngFor="let app of featuredApps">
          <div class="" (click)="appDetails(app.safeName)">
          <img src="http:{{app.customData.logo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text mb-0"><small class="text-muted">{{app.customData.summary | slice:0:65 }}...</small></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <img class="app-bg-left" src="../../../../assets/images/illustration-left.svg" alt="left-bg-img">
  <img class="app-bg-right" src="../../../../assets/images/illustration-right.svg" alt="right-bg-img">
<div class="container mb-5">
  <div class="row">
    <div class="col-md-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-9">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container mb-5">
  <hr>
  <div class="row justify-content-md-center">
    <div class="col-md-5 text-center text-md-right pr-md-5">
      <img src="../../../../assets/images/home-icon.png"
        class="cta-img">
      <h2 class="cta-heading"><a class="cta-link" href="mailto:marketplace@scythe.io">{{'home.appStoreList' | translate}}</a>
      </h2>
    </div>
    <div class="col-md-5 text-center text-md-left">
      <a class="cta-link" href="mailto:marketplace@scythe.io">{{'home.appDeveloper' | translate}}</a>
      <p class="cta-text">{{'home.appDeveloperDescription' | translate}}
      </p>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mb-5">
  <div class="row justify-content-md-end">
    <div class="col-md-1 text-right  p-0">
      <app-toggle [isChecked]="false" (changeState)="handleChangeEditMode($event)"></app-toggle>
    </div>
    <div class="col-md-2 align-middle">
      <span class="toggle-container__toggle-text">Enable Edit Mode</span>
    </div>
  </div>
  <div class="row justify-content-md-end">

    <div class="col-md-1 text-right  p-0">
      <button *ngIf="isEditMode" class="save-changes-button" (click)="sendChanges()">Save Changes</button>
    </div>
    <div class="offset-1"></div>
  </div>
</div>
<!-- <div class="container-fluid mb-5">
  <div>
  <app-toggle [isChecked]="false" (changeState)="handleChangeEditMode($event)"></app-toggle>
  <span class="toggle-container__toggle-text">Enable Edit Mode</span>
  </div>
<button *ngIf="isEditMode" class="save-changes-button" (click)="sendChanges()">Save Changes</button>
</div> -->
<app-footer></app-footer>
