<div class="col-12 mb-4">
  <input class="form-control" type="text" placeholder="{{'sideNav.search'| translate}}" aria-label="Search" (value)="textSearch" [(ngModel)]="textSearch"
    (change)="seachApp($event.target.value)">
</div>
<div class="col-12 mb-5" *ngFor="let filter of filters">
  <h4 class="side-nav-style mb-3">{{filter.name}}</h4>
  <div class="list-group" id="list-tab" role="tablist" *ngFor="let list of filter.values">
    <a class="list-group-item list-group-item-action" id="all-apps" value="list.label"
      (click)="navigateAppList(list.label)" role="tab" aria-controls="all-apps">{{list.label}}</a>
  </div>
</div>
