<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-4">
        <div class="col-md-10">
          <h4 class="side-nav-style">{{selectedName}}</h4>
        </div>
        <div class="col-md-2">
          <a href="">{{'common.seeAll' | translate}}</a>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-12" *ngFor="let item of searchedApps">
          <a *ngIf="searchedApps" class="card integration-box pricing" (click)="appDetails(item.safeName)">
            <img class="integration-icon" src="http:{{item.customData.logo}}">
            <div class="integration-detail">
              <h3>{{item.name}}</h3>
              <span class="app-price">{{'common.free' | translate}}</span>
              <div class="integration-tagline"><span class="summary-text">{{item.customData.summary}}</span></div>
              <hr>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="searchedApps.length == 0">
        <div class="not-found">{{'appList.noApps' | translate}}</div>
      </div>
    </div>
  </div>
</div>