<div class="modal" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="isLoggedIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body p-5 ml-4 mr-4">
          <h4 class="modal-heading">End User License Agreement</h4>
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked" (change)="isAppChecked($event)">
              <label class="custom-control-label" for="defaultUnchecked">
                I agree to the {{fileName}}
                <a href="">terms and conditions</a>
              </label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked1"  (change)="isScytheChecked($event)">
              <label class="custom-control-label" for="defaultUnchecked1">
                I agree to
                the SCYTHE <a href="">terms and conditions</a>
              </label>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-end pl-5 pr-5 pb-5 ml-4 mr-4">
          <div class="col col-lg-4">
            <button type="button" class="btn btn-basic btn-lg btn-block btn-css" data-dismiss="modal">Cancel</button>
          </div>
          <div class="col col-lg-4">
           
              <a href="{{base64Url}}" download="{{fileName}}.{{extension}}" > <button type="button" class="btn btn-primary btn-lg btn-block download-btn-css" [disabled]="!appChecked||!scytheChecked">Download Now</button></a>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoggedIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body p-5 ml-4 mr-4 text-center">
          <h4 class="modal-heading">Please login first to downlaod the application</h4>
        </div>
        <div class="row justify-content-md-end pl-5 pr-5 pb-5 ml-4 mr-4">
          
          <div class="col col-lg-4">
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  (click)="toLogin()"  data-dismiss="modal">Login</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
