.p-custom {
    margin-top: 100px;
    margin-bottom: 120px;
    /* box-shadow: 0 7px 22px 0 rgba(47, 51, 57, 0.3); */
    padding: 20px;
}
.success-message {
    margin: 0px !important;
    border: 0px;
    padding: 0 20px;
    text-align: center;
    color: green;
    padding-top: 10px;
    font-weight: 600;
    border-radius: 0px;
    background-color: transparent;
}
.details-container {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 5px;
    margin: 2px;
}
.update-title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #000;
    padding-left: 10px;
    border-radius: 1.5px;
    text-transform: uppercase;
}

  .toggle-password.icon-show:before, .toggle-password.icon-hide:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    right: 60px;
    bottom: 78px;
  }
  .input-group-text{
      border: 1px solid #dee2e6!important;
  }
  .update-container{
    border: 20px solid #ced4da;
    padding: 30px;
    border-radius: 5px;
  }
  .input-group-append{
      cursor: pointer;
  }
  .p-0-43{
      padding: 0 43px;
  }
  .error-message{
      color: #dc3545;
      font-size: 14px;
  }
  