/* You can add global styles to this file, and also import other style files */
/* @import '~aws-amplify-angular/theme.css'; */
@font-face {
  font-family: Open_sans;
  src: url("assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Fjalla_one_regular;
  src: url("assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif !important;
}

h4, h1{
  font-family: Fjalla_one_regular;
}
div .summary-text {
  font-size: 12px;
  line-height: 16px;
  color: #97a3ae;
}

h3 {
  font-size: 1em !important;
  color: #333333;
  margin-right: 15px;
  margin-bottom: 5px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold !important;
  font-family: "Nunito Sans", sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400 !important;
  line-height: 1.25;
}

div .side-nav-style {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #000;
  padding-left: 10px;
  border-radius: 1.5px;
  text-transform: uppercase;
}
.app-bg-left {
  background: url("assets/images/illustration-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  opacity: 0.8;
}
.app-bg-right {
  background: url("assets/images/illustration-right.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  opacity: 0.8;
}
.navbar-nav .nav-item  a {
  font-family: Fjalla_one_regular;
  display: block;
  position: relative;
  color: #ddd;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.bg_blue{
  background-color: #1f4886;
}

.logo-custom-width {
  width: 80px;
}

.d-flex a{
  cursor: pointer;
}

.white-text {
  color: #fff
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}
p{
  margin-bottom: 0rem !important;
}